.btn-bottom-right
    input(type="hidden" name="color" value=helpers.getRandomColor() id="random-color")
    .relative
        button#btn-add-category.py-2.px-4.text-white.rounded-full.flex.items-center.font-medium
            svg.w-7(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                path(fill-rule='evenodd' d='M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z' clip-rule='evenodd')
            span Agregar categoria
        button#btn-close-category.p-2.text-white.rounded-full.flex.items-center.font-medium.shadow-lg.hidden
            svg.w-6(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                path(fill-rule='evenodd' d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd')

        #container-add-category.absolute.bg-white.rounded-lg.shadow-lg.p-5.border.border-gray-400.right-0.w-80.hidden(style="top: -12rem;")
            form(action="/categories" method="POST")
                h3.text-xl Agregar categoria
                input#txt-category.form-input.my-4.block.w-full.border.rounded(placeholder="Nombre" name="name" maxlength="32" required)
                button(type="submit")#btn-submit-category.w-full.p-2.rounded-lg.text-white Agregar




script.
    const randomColor = document.getElementById("random-color").value

    const btnAddCategory = document.getElementById('btn-add-category');
    const btnCloseCategory = document.getElementById('btn-close-category');
    const btnSubmitCategory = document.getElementById('btn-submit-category');
    const containerAddCategory = document.getElementById('container-add-category');

    btnAddCategory.classList.add(`bg-${randomColor}-600`, `hover:bg-${randomColor}-600`)
    btnCloseCategory.classList.add(`bg-${randomColor}-600`, `hover:bg-${randomColor}-600`)
    btnSubmitCategory.classList.add(`bg-${randomColor}-600`, `hover:bg-${randomColor}-600`)

    btnAddCategory.addEventListener("click", () => {
        btnAddCategory.classList.add('hidden')
        btnCloseCategory.classList.remove('hidden')
        containerAddCategory.classList.remove('hidden')
        document.getElementById('txt-category').focus()
    })

    btnCloseCategory.addEventListener("click", () => {
        btnCloseCategory.classList.add('hidden')
        btnAddCategory.classList.remove('hidden')
        containerAddCategory.classList.add('hidden')
    })